body{
    background-color: rgb(38, 51, 61);
    margin:0;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.chooseUI, .slider{
    animation: fadeIn 0.7s forwards;
    box-shadow: 0px 5px 15px black;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(to right, #1a1a1a, #0c0c0c);
    width:600px;
    height:450px;
    border-radius: 35px;
}
@media only screen and (max-width: 400px) {
    .chooseUI, .slider{
    width:320px;
}
#player,#bot {
    font-size:12px
}
.user{
    position: absolute !important;
    bottom:0 !important;
    left:0 !important;
    width:calc(100% - 15px) !important;
    border-radius: 0 !important;
}
}
@keyframes fadeIn {
    from{
        scale:0
    }
    to{
        scale:1
    }
}
.chooseItem{
    margin-top:2px;
    height:50px;
    width:100%;
    display: flex;
    flex-direction: row;
}
#playerPick,#botPick{
    display:flex;
    justify-content: center;
    align-items: center;
    width:50%;
    font-size: 50px;
}
.chooseImage{
    width:100%;
    margin-top:2px;
    height:200px;
    display: flex;
    flex-direction: row;
}
.Choosen {
    display: flex;
    color:white;
    flex-direction: row;
    justify-content: center;
    
    width:50%;
    height: 100%;
}
#divide{
    border-right:dashed rgb(146, 146, 146) 1px;
}
.Stats {
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgb(0, 255, 106);
    font-size:25px;
    flex-direction: row;
    width:50%;
    padding-left: 5px;
    height: 100%;
}
#player,#bot {
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:50px;
    background:#222222;
    font-weight: 600;
    font-family:Arial, Helvetica, sans-serif;
}
#player{
    border-radius: 40px 0 0 0;
}
#bot{
    border-radius: 0 40px 0 0;
}
.buttons{
    margin: 20px;
    height:50px;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
button{
    font-size:25px;
    border-radius: 10px;
    border:solid 1px rgb(21, 146, 48);
    margin:20px;
    width:200px;
    height:50px;
    background:#2e2f30;
    color:White;
    transition: 0.25s;
    scale:1.0;
}
button:hover{
    border:solid 1px rgb(0, 255, 55);
    background:#0c0c0c;
    transition: 0.25s;
    scale:1.1;
    box-shadow: 0 0 7px rgb(0, 255, 55);
}
#wynik{

    margin:30px;
    font-weight: 600;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}
#GameCount,#FastGuide{
    display: flex;
    justify-content: center;
    min-width:250px;
    margin-bottom: 20px;
    padding:10px;
    background:#1a1a1a;
    border-radius: 20px;
    text-shadow:0px 3px 5px #000;
    font-size:50px;
    font-family: 600;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:aliceblue;
}
.range{
    width:75%;
    margin:10px;
    accent-color: rgb(89, 255, 89);
}
.SlideItem{
    color:rgb(218, 218, 218);
    font-family:'Franklin Gothic Light', 'Arial Narrow', Arial, sans-serif;
    display:none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#closeSlides{
    width:30px;
    height:30px;
    padding:0;
    border:none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 5px;
}
#closeSlides:hover {
    background: rgba(255, 255, 255, 0.1); /* albo dowolny kolor */
}
#closeSlides img {
    width:30px;
    height:30px;
    object-fit: contain;
}
.SlideItem p {
    margin:5px 20px 0 20px;
}
.user{
    display: flex;
    align-items: center;
    padding:0 8px 0 8px;
    border-radius: 10px;
    background:#0c0c0c;
    position: absolute;
    left:10px;
    bottom:10px;
    width:250px;
    height:100px;
}
#imgHolder{
    padding:0;
    border:none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    height:75%;
    width:35%;
}
#imgHolder img {
    border-radius: 5px;
    width:auto;
    height:100%;
    object-fit: contain;
}

#data{
    display: flex;
    flex-direction: column;
    width:65%;
    height:40%;
}
#credits{
    color:#e5ff00
}
#username{
    color:aliceblue
}
#Bet input{
    margin-bottom: 25px;
    color:white;
    background-color: #2e2f30;
    border:1px solid black;
    border-radius: 10px;
    padding:5px;
    height:25px;
    width:90%
}
label{
    color:White;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 700;
    padding:5px;
}
#Bet button{
    margin:0;
    padding:0;
    border:solid 1px black;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    height:40px;
    width:150px;
}
button #imagePlay{
    height:100%;
    width:auto;
    object-fit: contain;
}
#Bet{
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width:300px;
    height:250px;
    background:#1a1a1a;
    border-radius:20px;
}